.game-card {
    background-color: #FFCF96;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .game-card.flipped {
    background-color: #FF8080;
  }

  .card-content{
    font-size:1rem;}

    @media (min-width:500px){
        .card-content{
            font-size: 1.3rem;
        }
    }
@media (min-width:800px){
    .card-content{
        font-size: 1.3rem;
    }
}
