.card{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: #FFF588;
    padding:5%;
    min-height:40vh;
}

.card-image {
 width:100%;
}

.card-word{
    font-size: 1.5rem;
    border-top:2px solid #FFAE00;
    border-bottom: 2px solid #FFAE00;
    display: flex;
    align-items: center;
    gap:3%;
}

.audio-button{
    background-color: #FFAE00;
    font-size:1.6rem;
    color:#FFF588;
    cursor: pointer;
}

.audio-button:hover{
    background-color: #FFAE00;
    color:purple;
    box-shadow: 0 0 30px purple;
}

.card-sentence{
    margin:0;
    font-size: 1.3rem;
}

@media(min-width:374px){
    .card-image{
        max-width:233px;
        max-height:230px;
    }
    .card-sentence{
        font-size: 1.5rem;
    }
}

@media (min-width:550px){
    .card-title{
        font-size: 2rem;
    }
    .audio-button{
        font-size:2rem;}
}

@media(min-width: 600px){
    .card{
        flex-direction: row;
        gap:5%;
    }
    .card-image {
        align-self: center;
    }
}

@media(min-width:990px){
.card-image{
    max-height:350px;
    max-width:300px;
}
.card-word{
    font-size: 3rem;
}
.audio-button{
    font-size:3rem;}
.card-sentence{
    font-size: 2.5rem;
}
}
